body {
    background-color: #FFFFFF;
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    }
    p, ul, ol,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0;
      margin-bottom: 0;
     }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    img {
      display: block;
    }
    .pointer {
      cursor: pointer;
    }
    .flex-added { 
      display: flex;
      align-items: center;
    } 
    .section {
      padding-top: 94px;
      padding-bottom: 94px;
    } 

    